# Environment
.env
*.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/
build/

# dbt
ecommerce_dbt/target/
ecommerce_dbt/logs/
ecommerce_dbt/.dbt/
ecommerce_dbt/dbt_packages/


# Docker volumes (local bind mounts)
docker/logs/
docker/minio/data/
docker/postgres/data/

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

#reset pipeline
command.txt

#debug
check_columns.py
test_api.py
data-loader/test.py